<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/JavaScript/index.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>


<script type="text/javascript" src="/JavaScript/materializeinit.js"></script>

</body>

</html>
