<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Contact List">
  <meta name="keywords" content="Contacts, Contact List, Send OTP">
  <meta name="author" content="Shubham Kumar Puri">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kisan Project</title>
     <!-- materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <!-- Navbar -->
    <div class="navbar-fixed ">
        <nav class="light-blue darken-2">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo "><i class=" material-icons">contacts</i>Contacts</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class=" material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">Contacts</a></li>
                    <li><a href="/sentMessages">Sent</a></li>

                </ul>
            </div>
        </nav>
    </div>
    <!-- on mobile navbar -->
    <ul class="sidenav" id="mobile-demo">
        <br>
        <li><a href="/">Contacts</a></li>
        <li><a href="/sentMessages">Sent</a></li>
    </ul>
    <!-- Navbar Ends -->
